* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.calc {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 30rem;
}

.calcWrapper {
  width: 100%;
  margin-top: 8rem;
}

.buttonWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
}

.zero {
  grid-column: 1 / span 2;
}

.buttonWrapper button {
  width: 100%;
  font-size: 20px;
  border: 3px solid rgb(211, 208, 208);
  padding: 12px;
}

.buttonWrapper button:hover {
  /* border: 1px solid rgb(254, 254, 253); */
  background-color: rgb(194, 196, 198);
}

.sign {
  background-color: orange;
  color: white;
}

.calcWrapper p {
  width: 100%;
  background-color: rgb(180, 178, 178);
  text-align: end;
  padding: 14px 12px;
  border-top: 1px solid rgb(251, 250, 250);
  color: white;
  font-size: 20px;
}
